body {
  /* background-color: rgb(8, 98, 101); */
  background-image: linear-gradient(to right, #4281A4, #48a9a6);
}

.pageContainer {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-evenly;
  /* align-items: stretch; */
  flex-direction: column;
  text-align: center;
}

.scoreBoard {
  /* border: 2px solid blueviolet; */
  text-align: right;
  margin-right: 3em;
}

.playButtons {
  text-align: center;
  /* border: 2px solid azure; */
  /* width: 34%; */
  display: flex;
  flex-direction: column;
  margin: 0 33%;
}

.answerOptions {
  /* border: 2px solid blue; */
  margin: 0 33%;
}
.playAgainButton {
  margin: 0 33%;
}



.the-one-button {
  margin: 0 20%;
  height: 4em;
  /* width:60%; */
  border-radius: 8px;
  font-size: 1em;
}




.button {
  background-color: #042f46;
  color: rgb(115, 170, 217);
  border-radius: 5px;
  padding: .3em;
  margin: .3em;
  height: 2.25em;
}

.form {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  text-align: center;
  margin: 0 20%;
  
}
 

